@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-slate-900 text-gray-900 dark:text-gray-100;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
